:root {
  --calm-blue: hsl(199, 81%, 31%);
  --text-blue: hsl(199, 80%, 18%);
  --white: hsl(0, 0%, 97%);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  color: var(--text-blue);
}

.kupuna {
  display: flex;
  width: 100%;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  max-width: 30%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--calm-blue);
}

.nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--white);
  margin: 0;
  padding: 0 1em;
}

.nav > ul > li {
  cursor: pointer;
  list-style: none;
  text-align: left;
  margin: 10px 0;
}

li:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 181px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  word-break: break-word;
  border: 1px solid var(--calm-blue);
  padding: 0 2.5%;
  /* padding: 0 6% 0 2%; */
}

.details {
  text-align: center;
  cursor: pointer;
  color: blue;
}

.details:hover {
  text-decoration: underline;
}

@media screen and (max-width: 620px) {
  .container {
    margin-left: 30%;
  }
}

@media screen and (max-width: 531px) {
  .container {
    width: 70%;
  }
  .card {
    width: 95%;
  }
}

@media screen and (max-width: 435px) {
  .nav {
    font-size: 0.8em;
    word-break: break-word;
  }

  .card {
    font-size: 0.8em;
  }
}
