.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 192px;
  right: 0;
  background-color: rgba(195, 255, 180, 0.4);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  max-height: fit-content;
  border: 1px solid hsl(199, 81%, 31%);
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.content {
  height: inherit;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 12%);
}

.header {
  color: hsl(199, 80%, 18%);
  font-size: 1.3rem;
  font-weight: bold;
}

.body {
  font-size: 1.2rem;
}

.title-close-btn {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}

.title-close-btn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .body {
    font-size: 1rem;
  }
}

@media screen and (max-height: 390px) {
  .modal-container {
    max-height: 85vh;
  }
}

@media screen and (max-width: 650px) {
  .modal-bg {
    left: 30%;
  }
}

@media screen and (max-width: 450px) {
  .modal-bg {
    width: 70%;
  }
  .card {
    width: 95%;
  }
}
@media screen and (max-width: 400px) {
  .modal-container {
    margin: 0;
    padding: 0;
  }

  .header {
    font-size: 1rem;
  }

  .body {
    font-size: 0.8rem;
  }
}
